h1{
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    
    .highlight{
        font-weight: bold;
        font-size: 24px;
    }

    p:not(.highlight){
        font-size: 15.5px;
    }

    .active-user{
        color: rgb(221, 12, 142);
        font-weight: bolder;
    }

    .team-work{
        color: rgba(52, 201, 222, 1);
        font-weight: bolder;
    }

    .active-user,
    .team-work{
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 768px) {

        .highlight, h1{
            text-align: center;
        }

        #about{
            margin-bottom: -25px;
            width: 90vw;
        }

        .about-row{
            display: flex;
            flex-direction: column-reverse;
            gap: 25px;
        }

        .about-column-2{
            width: 100%;
        }

        .about-row .about-column-1{
            width: 50vw;
            height: 235px;
            position: relative;
        }
    
        .about-row .about-column-1 img{
            animation: slideFromRight 3s linear forwards ;
            position: absolute;
            right: -250px;
        }
    
        @keyframes slideFromRight{
            0%{
            right: -200px;
    
            }
            25%{
            right: -150px;
    
            }
    
            50%{
            right: -100px;
    
            }
    
            75%{
            right: -50px;
    
            }
    
            100%{
                right: 0px;
            }
        }
    
        
    }