@media screen and (max-width: 768px) {
    #contact{
        width: 90vw;
    }

    .contact-row h2{
        text-align: center;
    }
    
    .contact-row{
        display: flex;
        flex-direction: column;
    }

    .contact-subrow{
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: space-between;
    }

}