@media screen and (max-width: 768px) {
    h2{
        font-size: 24px;
    }
    .highlight{
        font-size: 16px !important;
    }
    p:not(.highlight){
        font-size: 14px;
    }
    a{
        font-size: 14px;
    }
    .contact-row{
        display: flex;
        flex-direction: column;
    }

}