h1{
font-style: normal;
font-weight: 700;
line-height: normal;
}

.highlight{
    font-weight: bold;
    font-size: 24px;
}

.explore{
    background-color: rgb(221, 12, 142);
    font-weight: bold;
}

p:not(.highlight){
    font-size: 15.5px;
}



@media screen and (max-width: 768px) {

    #home{
        width: 90vw;
    }

    .home-row{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .home-row .column-1{
        width: 100%;
    }

    .home-row .column-2{
        width: 40vw;
        height: 235px;
        position: relative;
        margin-bottom: 0;
    }

    .home-row .column-2 img{
        animation: slideFromLeft 1s linear forwards ;
        position: absolute;
        left: -250px;
    }

    @keyframes slideFromLeft{
        0%{
        left: -200px;

        }
        25%{
        left: -150px;

        }

        50%{
        left: -100px;

        }

        75%{
        left: -50px;

        }

        100%{
            left: 0px;
        }
    }

    
}