nav{
    background-color: rgb(20, 8, 125);
    font-weight: bold;
}



.nav-link.isActive{
    color: rgb(221, 12, 142);
}

.nav-link{
    color: aliceblue;
}

.user-info button{
    color: aliceblue;
    font-weight: bold !important;
}


@media screen and (max-width: 768px) {
    .user-info{
        display: flex;
        justify-content: center;
    }
}