.card-body{
    background-color: #221A6B;
}

.card-btn{
    background-color: #DD0C8E;
}

@media screen and (max-width: 768px) {
 
    #blog{
        width: 90vw;
    }

    #blog div h2{
        text-align: center;
    }

    .card{
        height: 50%;
    }

    .card-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    
}

